$accentColor = #00a5ed
$textColor = #031e41
$borderColor = #eaecef
$codeBgColor = #282c34

header.navbar
  background-color: #031e41
  .links
    background-color: transparent

.sidebar-button
	color: #00a5ed

.navbar .site-name, .navbar .links
  color: #ffffff

img
  margin: auto
  display: block

img.two-per-line
  margin: auto
  display: inline
  padding: 20px
