
$accentColor = #00A5ED
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

header.navbar
  background-color: #031E41

.navbar .site-name, .nav-links .nav-item, 
.nav-links a:hover, .nav-links a.router-link-active
.nav-item, .nav-links a:hover, .nav-links a.router-link-active,
a.repo-link
  color: white

img 
  margin: auto
  display: block

img.two-per-line
  margin: auto 
  display: inline
  padding: 20px
